.user-main {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  width: 90%;
  gap: 10%;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-bio {
  font-size: 16px;
  line-height: 1.5;
}

.user-photo {
  width: 85px;
}

.user-container {
  display: flex;
  border: 1px solid black;
  width: 90%;
  padding: 20px 3%;
  justify-content: space-around;
}

.post-counter {
  font-size: 14px;
  padding-top: 30px;
}

.user-id-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.bio {
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 30px;
}

.bio h2 {
  padding-bottom: 20px;
  font-size: 14px;
}

.counters {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
  margin-right: 20px;
}

.post-info {
  border: 2px solid black;
  margin-bottom: 15px;
}

.post-info h3 {
  margin-bottom: 20px;
}

.post-button {
  width: 100px;
  justify-self: center;
  background-color: white;
  border: 2px solid black;
  padding: 3px 5px;
}
